* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.tiles-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tile-top {
    background-color: #282828;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid white;
}

.tile-bottom {
    background-color: #373737;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 3px 5px black;
    display: flex;
    align-items: flex-end;
}

.tile-top, .tile-bottom {
    height: .75em;  
    overflow: hidden;
    line-height: 1;
    color: rgb(248, 80, 108);
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
    padding: 0.25em;
}

.tile-top.flip::before {
    height: 0.5em;
    line-height: 1;
    content: "56";
    position: absolute;
    transform: rotateX(0deg);
    transform-origin: bottom;
    /* background-color: white; */
    animation: top-flip 1500ms;
    overflow: hidden;
}

@keyframes top-flip {
    100% {
        transform: rotateX(90deg);
    }
}

.tile-bottom.flip::after {
    height: 0.5em;
    content: "56";
    position: absolute;
    display: flex;
    align-items: flex-end;
    /* background-color: white; */
    overflow: hidden;
    transform: rotateX(0deg);
    transform-origin: center;
    animation: bottom-flip 1500ms 1500ms;
}

@keyframes bottom-flip {
    100% {
        transform: rotateX(90deg);
    }
}
